@import "primeicons/primeicons.css";

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--surface-0);
    color: var(--text-color);
}